* {
  padding: 0px;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  box-sizing: border-box;
}
#logo-div {
  background-color: lightgray;
  width: 100%;
  min-height: 50px;
  padding-left: 2%;
  line-height: 60px;
  margin-bottom: 10px;
}

#nav-div {
  width: 100%;
  text-align: center;
  background-color: lightgray;
  line-height: 50px;
  margin-bottom: 10px;
}
#header {
  background-color: lightgray;
  width: 100%;
  line-height: 100px;
  text-align: center;
  font-size: larger;
  margin-bottom: 20px;
}
#container {

  width: 100%;
  margin-bottom: 10px;
}
#side-bar {
  width: 20%;
  min-height: 20rem;
  background-color: lightgray;
  line-height: 20rem;
  float: left;
  text-align: center;
}
#body {
  background-color: lightgray;
  width: 75%;
  min-height: 20rem;
  float: right;
  font-size: larger;
  line-height: 20rem;
  text-align: center;
}
.clearfix::after{
  content: "";
  display: block;
  clear: both;
}
#footer-div{
  background-color: lightgray;
  width: 100%;
  min-height: 2rem;
  text-align: center;
  line-height: 2rem;
}
#main-div{
  margin: auto;
  width: 90%;
}